#product_card{
float:left;
padding:1px;
margin:10px;
width:16rem;
display:inline;
}

#product_card_body{
padding:2px;
margin:2px;
}

#product_card_link{
font-size:13px;
}

#product_card_link:hover{
font-size:14px;
color:#ff6600;
}
