#product_card{
float:left;
padding:1px;
margin:10px;
width:16rem;
display:inline;
}

#product_card_body{
padding:2px;
margin:2px;
}

#product_card_link{
font-size:13px;
}

#product_card_link:hover{
font-size:14px;
color:#ff6600;
}
/*my changes*/

#atc_button{
	font-size:14px;
	color:#cc0000;	
}

#add_to_cart{
	border:1px solid #ffd633;padding: 1px; margin: 1px; color:#cc3300;font-weight:bold;
}
#mycontainer{
	background:#ffcc66;
	color:#cc3300;
}

#mymainTablePizzaListRow{
	 color:#cc3300;font-weight:bold;
}

#mytabheaders{
	color:#cc3300;font-weight:bold;background:#ffdd99;border:1px solid #ffb31a
}