#product_card{
float:left;
padding:1px;
margin:10px;
width:16rem;
display:inline;
}

#product_card_body{
padding:2px;
margin:2px;
}

#product_card_link{
font-size:13px;
}

#product_card_link:hover{
font-size:14px;
color:#ff6600;
}
/*my changes*/

#atc_button{
	font-size:14px;
	color:#cc0000;	
}

#add_to_cart{
	border:1px solid #ffd633;padding: 1px; margin: 1px; color:#cc3300;font-weight:bold;
}
#mycontainer{
	background:#ffcc00;
	color:#cc3300;
}

#mymainTablePizzaListRow{
	 color:#cc3300;font-weight:bold;
}


#mytabheaders{
	color:#cc3300;font-weight:bold;
}



.mainTablePizzaList {
	width: 100%;
	margin-bottom: 1rem;
	color:#cc3300;font-weight:bold;
}

.mainTablePizzaList td,
.mainTablePizzaList th {
	padding: .75rem;
	vertical-align: top;
	border-top: 1px solid #ffa31a
}

.mainTablePizzaList thead th {
	vertical-align: bottom;
	/*border-bottom: 2px solid #ffa31a*/
}

.mainTablePizzaList tbody+tbody {
	border-top: 2px solid #ffa31a
}


